@using SHA_Shop.Models
@model List<SANPHAM>

<style>
    .categories__item set-bg {
        object-fit: cover;
    }
</style>
<section class="categories mt-5 mb-5 pb-5">
    <div class="container">
        <div class="section-title from-blog__title mb-5">
            <h2 class="mb-4 text-center">Sản phẩm mới nhất</h2>
        </div>
        <div class="row">
            <div class="categories__slider owl-carousel">
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg">
                                <a href="@Url.Action("ProductDetail", "Product", new { id = item.MaSP })">
                                    <img src="@Url.Content( item.Anh)" style="object-fit: cover">
                                </a>
                                <h5><a href="@Url.Action("ProductDetail", "Product", new { id = item.MaSP })">@item.TenSP</a></h5>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
